<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 my-3 ">
                <div class="container bg-info" style="border:2px solid black">
                    <h3 class=" text-center">Login Form</h3>
                        <form class="form " #ref=ngForm (ngSubmit)="changepassword(ref.value)">
                            
                                    <div class="form-check">   
                                            <label for="loginusertype" class="form-check-label">
                                            <input type="radio" name="usertype" id="loginusertype" value="patient" class="form-check-input" ngModel>
                                            Patient</label>
                                            
                                        </div>
                                        <div class="form-check">   
                                                <label for="loginusertype1" class="form-check-label">
                                                <input type="radio" name="usertype" id="loginusertype1" value="doctor" class="form-check-input" ngModel>
                                                Doctor</label>
                                                
                                            </div>
                                            <br>
                            <div class="form-group">
                                <label for="loginname" ><h5>UserName</h5></label>
                                <input type="text" name="name" class="form-control" ngModel id="loginname" placeholder="enter your login name">
                            </div>
                            <div class="form-group">
                                <label for="loginpassword"><h5>Enter new Password</h5></label>
                                <input type="password" name="password" class="form-control" ngModel id="loginpassword" placeholder="enter your password">
                            </div>
                            
                                    
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-secondary">Submit</button>
                            </div>        
                        </form>             
                    </div>
        </div>
        <div class="col-sm-4"></div>
     </div>
    </div>