<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 my-3 ">
            <div class="container bg-info py-3" >
                    <form class="form" #ref=ngForm (ngSubmit)="password(ref.value)">
                        <div class="form-group">
                            <label for="loginname" ><h5>UserName</h5></label>
                            <input type="text" name="name" class="form-control" ngModel id="loginname" placeholder="enter your login name">
                        </div>
                        <br/>
                        <div class="form-check">   
                            <label for="loginusertype" class="form-check-label">
                            <input type="radio" name="usertype" id="loginusertype" value="patient" class="form-check-input" ngModel>
                            Patient</label>
                            
                        </div>
                        <div class="form-check">   
                                <label for="loginusertype1" class="form-check-label">
                                <input type="radio" name="usertype" id="loginusertype1" value="doctor" class="form-check-input" ngModel>
                                Doctor</label>
                        </div>
                        <div class="form-group text-center">
                                <button type="submit" class="btn btn-dark text-white">Login</button>
                            </div>
                        </form>
                        </div>
                        </div>
                        <div class="col-sm-3"></div>
                        </div>
