<!--<div style="background-image: url(assets/images/contact.jpg)">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Email :</th>
                    <td>support@example.com</td>
                </tr>
                <tr>
                    <th>Mobile No :</th>
                    <td>11111 11111</td>
                </tr>
                <tr>
                    <th>Address :</th>
                    <td>plotno -1, sample strret, sample city</td>
                </tr>
            </table>
        </div>
    </div>
</div>-->
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>
          <p>For Queries anf FeedBack</p>
  
          <p>Toll Free Number: 1-800-115-565</p>
  
          <p>Email: dipp-startups@nic.in</p>
          
          <p>Office Address INVEST INDIA 110,
            vigyan Bhavan Annexe,
          001,Maulana Azad Road,
        New Delhi 110 001 | +9101123048155
      Working Hours: 10:00AM - 5:30PM(Mon to Fri)</p>
        </h5>
      </div>
      <div class="col-md-6">
        <img src="https://blog.docsapp.in/content/images/2018/11/DocsApp-HD-Logo_NoTagline_01.png" width="500px">
      </div>
    </div>
  </div>