<!--Start Carousel-->
<!--<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/images/slide1.jpg" alt="" width="100%" height="500">
        <div class="carousel-caption">
          <h1>Get well. Stay well. Live well</h1>
          <p>Local healthcare experts available online anytime</p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="./assets/images/slide2.jpg" alt="" width="100%" height="500">
        <div class="carousel-caption">
          <h1>Convenient healthcare for life</h1>
          <p>Find & book with your local healthcare expert, online 24/7</p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="./assets/images/slide3.jpg" alt="New York" width="100%" height="500">
        <div class="carousel-caption">
          <h1>Find a health expert when you need one most</h1>
          <p>Book a doctor, dentist, optometrist and more online, 24/7</p>
        </div>   
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>-->
  <!--End Carousel-->
  
  <!--Start About Us-->
  <!--<div class="container">
      <div class="row pt-5">
          <div class="col-md-8">
              <h1 class="text-info">About Us</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam 
                    in faucibus ipsum. Cras euismod justo et nunc faucibus sagittis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo doloribus, debitis repudiandae dolores eaque ipsum voluptatem architecto neque eum minus autem corporis, magnam modi ducimus, maiores assumenda! Hic vitae quibusdam at modi dignissimos libero doloribus praesentium, repellendus. Voluptate ut vero magni quidem dolorem dolorum, ipsam expedita soluta odit nesciunt ea?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam 
                            in faucibus ipsum. Cras euismod justo et nunc faucibus sagittis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
          </div>
          <div class="col-md-4">
              <img src="./assets/images/about5.png" height="300px">
          </div>
      </div>
  
  </div>-->
  <!--End About Us-->
  
  
  
  <!--Start Why Choose Us-->
  <!--<div class="jumbotron bg-white choose" style="background-image: url('./assets/images/bgn-about.jpg');background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -99;">
    <h1 class="text-center mb-5 text-white">Why Choose Us</h1>
    <div class="card-deck">
        <div class="card border-0">
            
            <div class="card-body">
                <div class="row">
                  <div class="col-md-2 my-auto mx-auto">
                    <i class="fa fa-user-md text-info"></i>
                  </div>
                  <div class="col-md-10">
                    <h4 class="text-info">Find best doctors</h4>
                    <p>You choose which doctor you want to speak with so you can build an ongoing healthcare relationship. Its proven to increase quality of care.</p>
                  </div>
                </div> 
            </div>
            
        </div>
        <div class="card border-0">
            
            <div class="card-body">
                <div class="row">
                  <div class="col-md-2 my-auto mx-auto">
                    <i class="fa fa-lock text-info"></i>
                  </div>
                  <div class="col-md-10">
                      <h4 class="text-info">Safe & Secure</h4> 
                      <p>Your privacy is our top priority, all of our data is encrypted and stored securely.</p>
                  </div>
                </div> 
                
            </div>
            
        </div>
  
        
    </div>
    <div class="card-deck mt-3">
        <div class="card border-0">
            
            <div class="card-body">
              <div class="row">
                  <div class="col-md-2 my-auto mx-auto">
                    <i class="fa fa-medkit text-info"></i>
                  </div>
                  <div class="col-md-10">
                      <h4 class="text-info">Contiuity of care</h4>
                      <p>You choose whatever makes you comfortable: phone or video appointments, male or female doctors, a doctor that speaks your language ... you're in control.</p>
                  </div>
                </div> 
                
            </div>
            
        </div>
        <div class="card border-0">
            
            <div class="card-body">
              <div class="row">
                  <div class="col-md-2 my-auto mx-auto">
                    <i class="fa fa-calendar-plus-o text-info"></i>
                  </div>
                  <div class="col-md-10">
                      <h4 class="text-info">Perfect for your schedule</h4> 
                      <p>Waiting rooms are a drag when you're sick, no one wants to wait hours to see a doctor. With our site you can connect to a doctor via online</p>
                  </div>
                </div> 
                
            </div>
            
        </div>
  
        
    </div>
  </div>-->
  <!--End Why Choose Us-->
  
  <!--Start How It Works-->
 <!-- <div class="jumbotron works">
      <h1 class="text-center mb-5">How it works</h1>
      <div class="card-deck text-center">
          <div class="card">
              <div class="card-header">
                <h5 class="text-info"><span class="num">step 1</span></h5>  
                
              </div>
              <div class="card-body bg-info">
                    <i class="fa fa-lock text-white"></i>
              </div>
              <div class="card-footer">
                  <h4 class="text-info">Register & Login</h4>
                    <p>A patient can register with basic information like name, email, city, mobile number, location and login with the credentials</p>
              </div>
          </div>
          <div class="card">
              <div class="card-header">
                <h5 class="text-info"><span class="num">step 2</span></h5>  
                
              </div>
              <div class="card-body bg-info">
                    <i class="fa fa-calendar text-white"></i>
              </div>
              <div class="card-footer">
                  <h4 class="text-info">Book Appoinment</h4>
                    <p>No more waiting for hours in a walk-in clinic, or weeks to see your family doctor. Doctors on your schedule, all online.</p>
              </div>
          </div>
          <div class="card">
              <div class="card-header">
                <h5 class="text-info"><span class="num">step 3</span></h5>  
                
              </div>
              <div class="card-body bg-info">
                    <i class="fa fa-user-md text-white"></i>
              </div>
              <div class="card-footer">
                  <h4 class="text-info">Visit Doctor</h4>
                    <p>Once the appoinment is book with your preffered doctor with your schedule then Patient can visit doctor without wating in queue</p>
              </div>
          </div>
          
      </div>
  </div>-->
  <!--End How It Works-->






<!--<div class="container-fluid">
    <div id="d" class="carousel slide" data-ride="carousel">
    
            
            <ul class="carousel-indicators">
              <li data-target="#d" data-slide-to="0" class="active bg-dark"></li>
              <li data-target="#d" data-slide-to="1" class="bg-dark"></li>
              <li data-target="#d" data-slide-to="2" class="bg-dark"></li>
              <li data-target="#d" data-slide-to="3" class="bg-dark"></li>
              <li data-target="#d" data-slide-to="4" class="bg-dark"></li>
              <li data-target="#d" data-slide-to="5" class="bg-dark"></li>
            </ul>
          
          
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="http://pngimg.com/uploads/doctor/doctor_PNG16032.png" alt="doctors">
              </div>
              <div class="carousel-item">
                <img src="assets/better-technology.jpg"style="width: 100%"  alt="doctors">
                <div class="carousel-caption">
                        <h2>BETTER TECHNOLOGY</h2>
                        <h4>we are providing a good infrastructure and quite atmosphere for patients.</h4>
                </div>
              </div>
              <div class="carousel-item">
                <img src="assets/emergency-services.jpg"style="width: 100%"  alt="doctors">
                <div class="carousel-caption"> 
                    <h2>EMERGENCY SERVICES</h2>
                    <h4>we are providing good facilities for emergency services we will take care of u, we are providing 24/7 services.</h4>    
                    </div>
              </div>
              <div class="carousel-item">
                    <img src="assets/service-02.jpg"style="width: 100%"  alt="doctors">
                  </div>
              <div class="carousel-item">
                    <img src="http://pngimg.com/uploads/doctor/doctor_PNG16021.png"   alt="doctors">
                    <div class="carousel-caption">
                    </div>
              </div>
              <div class="carousel-item">
                 <img src="assets/heart-specialist.jpg"style="width: 100%"  alt="doctors">
                 <div class="carousel-caption">
                     <h2>HEART SPECIALIST </h2>
                     <h4>we provide the best facilities, we are having a  Famous senior experienced Heart Sergeons</h4>
                 </div>
              </div>
            </div>
          
            
            <a class="carousel-control-prev" href="#d" data-slide="prev">
              <span class="carousel-control-prev-icon bg-dark"></span>
            </a>
            <a class="carousel-control-next" href="#d" data-slide="next">
              <span class="carousel-control-next-icon bg-dark"></span>
            </a>
          
          </div>
          <br/>
          <br/>
          <div class="row">
              <div class="col-sm-6">
                  <h3 class="text-warning">About Us</h3>
                  Patients at hospitals receive personalized care and treatment from doctors and staff who take time to get to know them. Here, under one umbrella are expert medical consultants, certified medical staff, skilled surgeons, state-of-the-art technology and facilities, as well as support groups, and social workers – all dedicated to treatment and recovery of the patients.

                            Above all, we are attentive to all the needs and comforts of the patient. We have an aggressive approach balancing our treatment strategies with careful monitoring of our patient’s overall health and well-being.
                            
                            Drawing on the strength of our community setting, patients benefit from our focused, custom-made care. A greater level of personal attention is afforded to each patient, and their individual needs are met with much thought and careful consideration.
              </div>
              <div class="col-sm-3"><img src="assets/aside-image-1.png" width="300px" height="300px"></div>
              
              <div class="col-sm-3"></div>
          </div>
          <br/>
          <br/>
          <br/>
          <h1 class=" text-center text-primary">Why Choose Us</h1>
          <h4 class=" text-center">We Provide Best Services For Patient</h4>
          <div class="card-deck">
              <div class="card">
                  <div class="card-body text-center">
                      <img src="assets/heart-1.png" height="75px" width="75px">
                      <h4 class="text-success">Certified Doctors</h4>
                      <h6>we are having an extradionary heart sergons,they treat  patients very well </h6>
                  </div>
              </div>
              <div class="card">
                    <div class="card-body text-center">
                            <img src="assets/tab.png"height="75px" width="75px" >
                            <h4 class="text-warning">24/7 Availability</h4>
                            <h6>we are providing 24 hours facility</h6>
                    </div>
                </div>
              <div class="card">
                    <div class="card-body text-center">
                        <img src="assets/brain-pic.jpg"height="75px" width="75px" >
                        <h4 class="text-danger">All Specilized Doctors</h4>
                        <h6>we have an extradionary nuero sergons,we cure major diseases in easily and we treat patients good</h6>
                    </div>
                </div>
              
          </div>
    </div>
    <div class="card mt-5" style="background-image: url('assets/bg-2.jpg')">
        <div class="card-footer">
          <div class="col-md-6">
            <div class="container">
                <h1 class="text-info">Diverse people.<br>
                One purpose.</h1>
                <p class="text-secondary">We are dreamers, thinkers and do-ers rolled into one.Together, we want to improve the healthcare experience for all humanity. We are guided by our values and driven by our motto to do great. These are not just principles for our products or our company, but they are a reflection of who we are as people.</p>
            </div>
        </div>
        <div class="col-md-6">
    
        </div> 
            
           
        </div>
    </div>
    <hr/>
    <h6 class="text-center text-dark">Copyrights 2019 © KARISHMA</h6>-->
          
   
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images-na.ssl-images-amazon.com/images/I/81e4jEKYoyL._SX342_.jpg" width="1100" height="500">
        <div class="carousel-caption">
          <h3>BETTER TECHNOLOGY </h3>
          <p>we are providing a good infrastructure and quite atmosphere for patients</p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="https://d1pra95f92lrn3.cloudfront.net/media/thumb/2057_fit512.jpg" alt="Chicago" width="1100" height="500">
        <div class="carousel-caption">
          <h3>EMERGENCY SERVICES</h3>
          <p>we are providing good facilities for emergency services we will take care of u, we are providing 24/7 services</p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="https://cdn.images.express.co.uk/img/dynamic/11/590x/466744091-469234.jpg" alt="New York" width="1100" height="500">
        <div class="carousel-caption">
          <h3>BEST DOCTORS</h3>
          <p>we provide the best facilities, we are having a  Famous senior experienced Heart Sergeons</p>
        </div>   
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>


<!--create about us and image-->
<div class="row">
  <div class="col-md-6">
    <img src="https://image.shutterstock.com/image-photo/smiling-doctor-posing-arms-crossed-260nw-519507367.jpg" alt="Los Angeles" width="100%">
  </div>
  <div class="col-md-6">
    <h3 class="text-center text-primary">About Us</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam 
        in faucibus ipsum. Cras euismod justo et nunc faucibus sagittis.
        
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo doloribus, debitis repudiandae dolores eaque ipsum voluptatem architecto neque eum minus autem corporis, magnam modi ducimus, maiores assumenda! Hic vitae quibusdam at modi dignissimos libero doloribus praesentium, repellendus. Voluptate ut vero magni quidem dolorem dolorum, ipsam expedita soluta odit nesciunt ea?
        
        

    </p>
  </div>
</div>

<!--why choose us-->
<div class="container">
  <h3 class="text-center text-primary">Why Choose Us</h3>
  <p class="text-center">We Provide Best Services For Patient</p>
  <div class="card-deck">
    <div class="card">
      <div class="card-header">
      <p class="text-center">All Specilized Doctors</p>
      </div>
      <div class="card-body">
      <img src="https://www.verywellhealth.com/thmb/MbxunCwhx2PffxIrJV0NQN01nLg=/1500x1000/filters:fill(87E3EF,1)/types-of-doctors-1736311_FINAL-dc121c4f860b4bbf9b594fc018a481dc.png" width="100%">
    </div>
    <div class="card-footer">
        Lorem ipsum dolor sit in faucibus ipsum. Cras euismod
    </div>
  </div>

  <div class="card">
      <div class="card-header">
      <p class="text-center">Certified Doctors</p>
      </div>
      <div class="card-body">
      <img src="https://capefearmobilenotary.com/wp-content/uploads/2015/04/board-certified.png" width="100%">
    </div>
    <div class="card-footer">
        Lorem ipsum dolor sit in faucibus ipsum. Cras euismod
    </div>
  </div>

  <div class="card">
      <div class="card-header">
      <p class="text-center">24/7 Available</p>
      </div>
      <div class="card-body">
      <img src="https://www.standardmedia.co.ke/evemedia/eveimages/thursday/mfwxg9fmlu2qbyzw5b6bf6416cd00.jpg" width="100%">
    </div>
    <div class="card-footer">
        Lorem ipsum dolor sit in faucibus ipsum. Cras euismod
    </div>
  </div>


</div>



</div>
<h6 class="text-center text-dark">Copyrights 2019 © KARISHMA</h6>